<h1 class="text-center">ALL EXISTING POSTS</h1>
<div class="col-sm-8 container-fluid p-4">
{{#each posts as |post|}}
<div class="card border-success mb-3 " style="max-width: 100rem;">
  <div class="card-header bg-transparent border-success">Posted by {{User.username}} on 5/21/2021</div>
  <div class="card-body text-success">
    <h5 class="card-title">{{post.title}}</h5>
    <p class="card-text">{{post.body}}</p>
  </div>
</div>
{{/each}}
</div>